<template name="content">
	<div class="column">
		<div class="ui raised segment">
			<div class="ui teal ribbon label">Of course a ribbon</div>
			<p>Calculate your net salary with the ribbon mode</p>
			
			<div class="calculate-form">
				<div class="ui massive action input">
					<input type="text" placeholder="Calculate...">
					<div class="ui icon button"><i class="big euro icon"></i></div>
				</div>
			</div>

			<table class="ui padded table segment">
				<tbody>
					<tr>
						<td>Gross salary:</td>
						<td id="gross-salary"></td>
					</tr>
					<tr class="positive">
						<td>Net Salary:</td>
						<td id="net-salary"></td>
					</tr>
					<tr>
						<td>Monthly:</td>
						<td id="monthly-salary"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>